<br>
<br>
<br>
<br>
<div class = "center">

<h1 class = "under_dots">Log in</h1>
<%= notice %>

<ul>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <li><%= f.label :email %></li>
  <li><%= f.email_field :email %></li>

  <li><%= f.label :password %></li>
  <li><%= f.password_field :password %></li>

  <li><%= f.submit "Log in", :class => "btn btn-success"%></li>
</ul>
<% end %>
</div>
