<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<ul>
<%= form_with(model: @user, local: true) do |f| %>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :email %></li>
  <li><%= f.email_field :email %></li>

  <li><%= f.label :password %></li>
  <li><%= f.password_field :password %></li>

  <li><%= f.label :password_confirmation %></li>
  <li><%= f.password_field :password_confirmation %></li>
<div class = file>
  <li><%= f.label :image %></li>
  <li><%= f.file_field :image, id: :users_image %></li>
</div>
<br>
  <li><%= f.submit "Create my account", :class => "btn btn-success"%></li>
<% end %>
</ul>
