<br>
<br>
<br>
<br>
<div class = "center">
<h1>Photo一覧</h1>

<p><%= notice %></p>

<% @pictures.each do |picture| %>
  <ul>
    <li><%= image_tag picture.image %></li>
    <li class = "content"><%= picture.content %></li>
   <div class="container">
    <li class="item"><%= link_to "詳細", picture_path(picture.id),:class => "btn btn-info" %></li>
    <% if picture.user.id == current_user.id %>
      <li class="item"><%= link_to "編集", edit_picture_path(picture.id),:class => "btn btn-warning" %></li>
      <li class="item"><%= link_to '削除', picture_path(picture.id),:class => "btn btn-danger" ,method: :delete , data: { confirm: "本当に削除していいですか？" }%></li>
    <% end %>
  </div>
  </ul>
<% end %>

<%= link_to '新しくPhotoを投稿する', new_picture_path ,:class => "btn btn-primary"%>

</div>
